<body style="background-color: #a373a3;">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 100rem;">
      <div class="card-body">

        <h1 class="card-title text-center mb-3" style="color: purple;">Verificador de Palíndromo</h1>
        <h4 class="card-subtitle mb-3 text-center" style="color: #5e5d5e;">Insira uma palavra ou número:</h4>
        
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-lg" placeholder="Digite uma palavra ou um número" [(ngModel)]="inputText" (ngModelChange)="verificarPalindromo()">
        </div>
        
        <div *ngIf="inputText">

          <div *ngIf="verifica">
            <p class="text-center" style="color: purple; font-weight: bold; font-size: 23px;">É um palíndromo!</p>
     
            <img src="imagens/feliz.png" alt="Carinha Feliz" width="200" class="d-block mx-auto">
          </div>

          <div *ngIf="!verifica">
            <p class="text-center" style="color: purple; font-weight: bold; font-size: 23px;">Não é um palíndromo.</p>
        
            <img src=" imagens/triste.png" alt="Carinha Triste" width="200" class="d-block mx-auto">
          </div>

        </div>

      </div>
    </div>
  </div>
</body>
